.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltipimage {
    visibility: hidden;
    width: 120px;
    
    /* Position the tooltip */
    position: absolute;
    bottom: 100%;
    left: 30%;
  }
  
  .tooltip:hover .tooltipimage {
    visibility: visible;
  }