/****************************************************************
*Original Author: Jeffrey Paulus                                *
*Date Created: 1-25-24                                          *
*Version: 0.1                                                   *
*Date Last Modified: 1-25-24                                    *
*Modified by: Jeffrey Paulus                                    *
*Modification log:                                              *
***0.1 - 1-25-24 - Creation                                     *
***0.2 - 2-9-24 - Modified for Project 2                        *
***0.3 - 2-25-24 - Modified for Project 3                       *
*************************************************************** */


/* css used to target all portfolio web pages */
/* applies to all web pages to promote consistency       */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');
@font-face {
	font-family: roboto;
	src: url('../fonts/Roboto-Italic.ttf')  format('truetype');
  }


/*************************** Mobile ***************************/


a:link{
    color:blue;
}
a:visited{
    color: rgb(233, 4, 233);
}
a:hover{
    font-family: roboto, Arial,Verdana,Tahoma;
}
a:active{
    color:brown;
}

h2 a:link{
    color:black;
}
h2 a:visited{
    color:black;
}

header h3{
    text-align: center;
}
main {
    background-color: lightgray;
    
    
    
}
body {
    /*background: rgba(210, 223, 250, 0.404);*/
    background-color: rgb(73, 72, 72);
    /* image modified from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wargamer.com%2Fdnd%2Fdice-set&psig=AOvVaw0Np6nPY5n4dNt1rYNj1T0x&ust=1706271121813000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCPD97rLB-IMDFQAAAAAdAAAAABAN */
    background-image: url(../images/back-ground_dice_light.png);
    /* color: #333333; */
    
    font-weight: 600;
    
    font-size: 1.25rem;
    margin: 0 auto;
    width: 900px;
    /* border: 3px solid blue; */
    padding: 0 2em 1em;
}


nav ul li {
    list-style-type:square;
    font-weight: bolder;
}

#menuList{
    list-style-type: square;
}
#menuList ul{
    display: none;
    
}
.faqclass{
    margin-left: 5rem;
}
footer{
    /*display: none;*/
    background: rgb(136, 133, 133);
    color: black;
}

header{
    /*display: none;*/
    background: rgba(15, 16, 19,0.8);
    color: white;
}

h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(../images/plus_dark.png) no-repeat left center;
}
h2.minus {
    background: url(../images/minus_dark.png) no-repeat left center;
}

.faqclass {
    display: none;
}
div.faqclass.open {
    display: block;
}

.cycle-slideshow{
    display:block;
    margin-left: auto;
    margin-left: auto;
    width: 70%;
}
#adv-custom-caption {
	padding-top: 10px;
}
/*************************** Tablet ***************************/	
@media screen and (min-width:341px) {


    
    nav ul li {
        display: inline;
        list-style-type: none;
        padding-inline: 1rem;
        
    }
    footer {
        text-align: center;
    }

}


