img{
    padding: 200px;
    width: 250px;
    transition: width 2s ease 0.5s;
    
}
img:hover
{
    
    
    width: 100px;
    background-image: url('../image/CWI_Building.png');
    background-size: 300px;
    

    
}